.container {
  display: grid;
  grid-row: 2 / 10;
  grid-column: 2 / 10;
  border-radius: 2vh;
  background-color: #ffeacd;
  z-index: 1;
}

.leftColumn {
  grid-column: 1 / 2;
}

.centerColumn {
  grid-column: 2 / 10;
  z-index: 3;
}