.container {
  display         : flex;
  grid-column     : leftborder / rightborder;
  grid-row        : fartop / farbottom;
  border-radius   : 2vh;
  background-color: var(--FG-lite);
  z-index         : 1;
}

.leftColumn {
  order  : 1;
  z-index: 2;
}

.mainColumn {
  order  : 2;
  z-index: 2;
}