ul {
  list-style-type: none;
  position       : relative;
  float          : left;
  left           : -25px;
}

a:link {
  color          : var(--FG-dark);
  text-decoration: none;
}

a:visited {
  color          : var(--FG-dark);
  text-decoration: none;
}

a:hover {
  color: #000000;
}

a:active {
  color: #000000;
}