html {
  background: linear-gradient(to right, #3e687f, #78a9c4);
  color: #786346;
  font-size: 2vmin;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#root {
  display: grid;
  grid-template-columns: repeat(10, 10vw);
  grid-template-rows: repeat(10, 9.5vh);
}